:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16.5px;

  /* colors */
  --oui-color-primary: 144 105 209;
  --oui-color-primary-light: 181 144 230;
  --oui-color-primary-darken: 103 63 182;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 165 82 204;
  --oui-color-link-light: 198 132 225;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 234 88 120;
  --oui-color-danger-light: 250 143 165;
  --oui-color-danger-darken: 217 63 98;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 195 76;
  --oui-color-success-light: 92 226 133;
  --oui-color-success-darken: 0 143 56;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 247 160 37;
  --oui-color-warning-light: 255 205 93;
  --oui-color-warning-darken: 255 122 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 49 44 64;
  --oui-color-fill-active: 56 53 74;

  --oui-color-base-1: 102 92 142;
  --oui-color-base-2: 88 78 122;
  --oui-color-base-3: 73 63 97;
  --oui-color-base-4: 61 54 82;
  --oui-color-base-5: 54 48 71;
  --oui-color-base-6: 45 40 61;
  --oui-color-base-7: 66 58 90;
  --oui-color-base-8: 35 30 50;
  --oui-color-base-9: 26 22 38;
  --oui-color-base-10: 17 14 28;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 234 88 120;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 195 76;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 103 63 182;
  --oui-gradient-primary-end: 165 82 204;

  --oui-gradient-secondary-start: 88 78 122;
  --oui-gradient-secondary-end: 144 105 209;

  --oui-gradient-success-start: 0 143 56;
  --oui-gradient-success-end: 34 195 76;

  --oui-gradient-danger-start: 217 63 98;
  --oui-gradient-danger-end: 234 88 120;

  --oui-gradient-brand-start: 216 186 249;
  --oui-gradient-brand-end: 159 107 225;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 122 0;
  --oui-gradient-warning-end: 247 160 37;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16.5px !important;
}